.congratulation-message {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--yellow);
    -webkit-text-stroke: 1px var(--blue);
    font-size: 28px;
    text-shadow: 0px 0px 5px black;
}