.choose-mode {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0.5), black);

    &__hidden {
        display: none;
    }

    &__modal {
        width: 600px;
        height: auto;
        background: var(--white);
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    &__title {
        text-align: center;
        color: var(--red);
        margin-top: 0;
    }

    &__subtitle {
        text-align: center;
    }

    &__input {
        display: none;

        &:checked + .choose-mode__option {
            transform: rotateX(0deg) rotateY(0deg);
            box-shadow: 0 1px 0 0 lightcoral;
            background-color: lightcoral;
        }
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: .5rem;
        row-gap: .5rem;
        margin-top: 1rem;
        justify-content: center;
        perspective: 1000px;
    }

    &__option {
        min-width: 200px;
        text-align: center;
        border: 1px solid var(--red);
        padding: 1rem;
        cursor: pointer;
        border-radius: 15px;
        transform: rotateX(0deg) rotateY(10deg);
        box-shadow: -3px 3px 0 0px lightcoral;
        transition: transform .25s, box-shadow .25s;

        &:hover {
            transform: rotateX(0deg) rotateY(0deg);
            box-shadow: 0 1px 0 0 lightcoral;
        }
    }

    &__btn-start {
        margin-top: 3rem;
        padding: .5rem 0;
        outline: none;
        border: 1px solid var(--red);
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--red);
        color: var(--white);
        transition: box-shadow .25s;

        &:hover {
            box-shadow: 0 0 0 4px lightcoral;
            background-color: var(--white);
            color: var(--red);

            &::before {
                background-color: var(--red);
            }
            &::after {
                border: 4px solid var(--red);
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 40px;
            right: 0;

        }

        &::after {
            height: 40px;
            border-radius: 50%;
            top: 2px;
            border: 4px solid var(--white);
        }

        &::before {
            background-color: var(--white);
            height: 4px;
            top: 20px;
        }
    }

}