<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pokedex - Juego
        link(rel="stylesheet", href="css/styles.css")
    body
        header.header
            button#header__options.header__options Opciones
            h1.header__title Pokedex
            .header__info-box
                .header__poke-count 
                    span#numberPoke
                    span /151

        section.poke-select#poke-select
            #loader.loader
                h2.loader__text Loading...
                .loader__item
            img#image-pokemon.poke-select__image(src="")
            ul#answer-options.poke-select__options

        section#pokedex-list.pokedex-list
        .game-completed#game-completed-modal
            .game-completed__modal
                .game-completed__pokeball
                .game-completed__title Felicitaciones!
                .game-completed__text Has atrapado los 151 pokemons!
                .game-completed__sub-text Quieres reiniciar el jugar?
                .game-completed__buttons
                    button.game-completed__btn-cancel#game-completed-btn-cancel Cancelar
                    button.game-completed__btn-newgame#game-completed-btn-newgame Volver a jugar
        .menu-options#menu-options
            .menu-options__modal
                #menu-options__tabs.menu-options__tabs
                    input#input-desafios(type="radio" name="radio-input-tabs").menu-options__input-tabs
                    label(for="input-desafios" name="type-option").menu-options__tab Desafios
                    input#input-opciones(type="radio" name="radio-input-tabs").menu-options__input-tabs
                    label(for="input-opciones" name="type-option").menu-options__tab Opciones
                .menu-options__description-tabs
                    #description-desarios.menu-options__description-block
                        p Puedes elegir de de que forma jugar
                        ul.menu-options__description
                            li 
                                input.menu-options__radio#juego-libre(type="radio" name="type-game")
                                label(for="juego-libre") Juego libre
                            li 
                                input.menu-options__radio#3-vidas(type="radio" name="type-game")
                                label(for="3-vidas") Empezar con 3 vidas
                            li
                                input.menu-options__radio#5-vidas(type="radio" name="type-game")
                                label(for="5-vidas") Empezar con 5 vidas
                            li
                                input.menu-options__radio#10-vidas(type="radio" name="type-game")
                                label(for="10-vidas") Empezar con 10 vidas
                        p.menu-options__subtext Si haces algun cambio, el juego se reiniciara
                        .menu-options__buttons
                            button#btn-cancel-options-step-1.menu-options__btn-cancel Cancelar 
                            button.menu-options__btn-acept Aceptar
                    #description-opciones.menu-options__description-block.menu-options__description-block--hidden
                        p Cansado de tu aventura pokemon? No te preocupes! Puedes reiniciar el juego aqui:
                        span.menu-options__subtext Pero recuerda, perderas todos tus pokemons atrapados
                        .menu-options__buttons
                            button#btn-cancel-options-step-2.menu-options__btn-cancel Cancelar
                            button#btn-reiniciar.menu-options__btn-acept Reiniciar
        #choose-mode.choose-mode
            .choose-mode__modal
                h2.choose-mode__title Bienvenido cazador pokemon!
                p.choose-mode__subtitle Elige como quieres comenzar tu aventura
                .choose-mode__options
                    input#start-mode-game-1(type="radio", name="start-mode-game" value="-1" checked).choose-mode__input
                    label(for="start-mode-game-1").choose-mode__option Juego libre
                    input#start-mode-game-2(type="radio", name="start-mode-game" value="3").choose-mode__input
                    label(for="start-mode-game-2").choose-mode__option 3 vidas
                    input#start-mode-game-3(type="radio", name="start-mode-game" value="5").choose-mode__input
                    label(for="start-mode-game-3").choose-mode__option 5 vidas
                    input#start-mode-game-4(type="radio", name="start-mode-game" value="10").choose-mode__input
                    label(for="start-mode-game-4").choose-mode__option 10 vidas
                button#choose-mode__btn-start.choose-mode__btn-start Comenzar!
        #count-life.count-life
            h2.count-life__title Vidas
            span#count-life__number.count-life__number
        #game-over.game-over
            .game-over__modal
                .game-over__title Juego terminado
                .game-over__text Buen intento cazador pokemon! La proxima lo haras mejor
                button#game-over__btn-restart.game-over__btn-restart Reiniciar


           
        script(src="js/scripts-min.js")
    