<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pokedex - Juego
        link(rel="stylesheet", href="css/styles.css")
    body
        header.header
            button#header__options.header__options Opciones
            h1.header__title Pokedex
            .header__info-box
                .header__poke-count 
                    span#numberPoke
                    span /151

        section.poke-select#poke-select
            #loader.loader
                h2.loader__text Loading...
                .loader__item
            img#image-pokemon.poke-select__image(src="")
            ul#answer-options.poke-select__options

        section#pokedex-list.pokedex-list
        .game-completed#game-completed-modal
            .game-completed__modal
                .game-completed__pokeball
                .game-completed__title Felicitaciones!
                .game-completed__text Has atrapado los 151 pókemons!
                .game-completed__sub-text Quieres reiniciar el jugar?
                .game-completed__buttons
                    button.game-completed__btn-cancel#game-completed-btn-cancel Cancelar
                    button.game-completed__btn-newgame#game-completed-btn-newgame Volver a jugar
        .menu-options#menu-options
            .menu-options__modal
                #menu-options__tabs.menu-options__tabs
                    input#input-desafios(type="radio" name="radio-input-tabs").menu-options__input-tabs
                    label(for="input-desafios" name="type-option").menu-options__tab Desafíos
                    input#input-opciones(type="radio" name="radio-input-tabs").menu-options__input-tabs
                    label(for="input-opciones" name="type-option").menu-options__tab Opciones
                .menu-options__description-tabs
                    #description-desarios.menu-options__description-block
                        p Puedes cambiar el color de pokedex
                        #background-modes.choose-mode__options
                            input#background-1(type="radio", name="background-mode" value="1").choose-mode__input
                            label(for="background-1").choose-mode__option Original
                            input#background-2(type="radio", name="background-mode" value="2").choose-mode__input
                            label(for="background-2").choose-mode__option Fantasma
                            input#background-3(type="radio", name="background-mode" value="3").choose-mode__input
                            label(for="background-3").choose-mode__option Eléctrico
                            input#background-4(type="radio", name="background-mode" value="4").choose-mode__input
                            label(for="background-4").choose-mode__option Bola de fuego
                            input#background-5(type="radio", name="background-mode" value="5").choose-mode__input
                            label(for="background-5").choose-mode__option Natura
                            input#background-6(type="radio", name="background-mode" value="6").choose-mode__input
                            label(for="background-6").choose-mode__option Ártico
                        .menu-options__buttons
                            button#btn-cancel-options-step-1.menu-options__btn-cancel Cancelar 
                            button#btn-acept-options-step-1.menu-options__btn-acept Aceptar
                    #description-opciones.menu-options__description-block.menu-options__description-block--hidden
                        p Cansado de tu aventura pókemon? No te preocupes! Puedes reiniciar el juego aquí:
                        span.menu-options__subtext Pero recuerda, perderás todos tus pókemons atrapados
                        .menu-options__buttons
                            button#btn-cancel-options-step-2.menu-options__btn-cancel Cancelar
                            button#btn-reiniciar.menu-options__btn-acept Reiniciar
        #choose-mode.choose-mode
            .choose-mode__modal
                h2.choose-mode__title Bienvenido cazador Pókemon!
                p.choose-mode__subtitle Elige cómo quieres comenzar tu Aventura
                .choose-mode__options
                    input#start-mode-game-1(type="radio", name="start-mode-game" value="-1" checked).choose-mode__input
                    label(for="start-mode-game-1").choose-mode__option Juego libre
                    input#start-mode-game-2(type="radio", name="start-mode-game" value="3").choose-mode__input
                    label(for="start-mode-game-2").choose-mode__option 3 vidas
                    input#start-mode-game-3(type="radio", name="start-mode-game" value="5").choose-mode__input
                    label(for="start-mode-game-3").choose-mode__option 5 vidas
                    input#start-mode-game-4(type="radio", name="start-mode-game" value="10").choose-mode__input
                    label(for="start-mode-game-4").choose-mode__option 10 vidas
                button#choose-mode__btn-start.choose-mode__btn-start Comenzar!
        #count-life.count-life
            h2.count-life__title Vidas
            span#count-life__number.count-life__number
        #game-over.game-over
            .game-over__modal
                .game-over__title Juego terminado
                .game-over__text Buen intento cazador Pókemon! La próxima lo harás mejor
                button#game-over__btn-restart.game-over__btn-restart Reiniciar


           
        script(src="js/scripts-min.js")
    